<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAyPngtTVRgN30WL2N0FilPvSZ3250a6I</string>
	<key>GCM_SENDER_ID</key>
	<string>1024248956501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tattooSocialApp</string>
	<key>PROJECT_ID</key>
	<string>test-firebase-916f2</string>
	<key>STORAGE_BUCKET</key>
	<string>test-firebase-916f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024248956501:ios:d804fa118a0a80a6efb6dc</string>
</dict>
</plist>